ul {
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.header{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px; 

}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    width: 80px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
}