.doc{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.title{
    text-align: center;
    line-height: 40px;
    color: #343434;
}
p{
    text-align: justify;
}
.cell{
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.green{
    background-color:green ;
}
.red{
    background-color: red;
}

td{
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: gray;
    border-width: 0.5px;
}
tr{
    margin: 0px;
    padding: 0px;
    
}
.figure{
    border-style: solid;
    border-color: gray;
    padding: 5px;
}
.figureTitle{
    text-align: center;
    color: gray;
}